.App-header {
  background-color: blue;
  height: 80px;
  padding: 10px;
  color: red;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

footer{
  background-color: blue;
  height: 80px;
  padding: 10px;
  color: red;
}
