body {
  margin: 0;
  padding: 0;
  font-family: "badaboom";
    ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@font-face{
  font-family: "badaboom";
  src: url("./Font/badaboom_bb/BADABB__.TTF");
}
